body{
    background-color: #c8d6b4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
header, footer{
    background-color:#cee8cc 
}
.site-title{
    color: #099ec8;
}
img[src$="jpeg"]{
    box-shadow: 0 0 2px 1px black;
}
ul{
    list-style-type: square
}
li:nth-child(2n-1){
  background-color: yellow;
  width:200px
}
span{
    border: whitesmoke 5px outset;
    width: 100px;
    height: 100px;
    background-color:silver;
}
a:hover{
    color:slategray;
}
.notes-input:focus {    
color: yellow;}
.practice-input:focus {
color: yellow;} 
.home-input:focus {
color: yellow;}