/* CSS file for week 6 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This is the start of my CSS code */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

html{
    font-family:  'Open Sans', san-serif;
    font-size: 10px; /* makes the math easier with ems and rems */
    color: black;
    }
    body{
        width:100vw;
        height:100vh;
    }
h1{
	font-size: 10rem;
    padding: 10px;
    font-weight: bold;
}
h2{
    font-size: 5rem;
    padding: 10px;
    font-weight: 700;
}
h3{
    font-size: 2.5rem;
    padding: 10px;
}
h4{
    font-size: 2rem;
    padding: 10px;
}
h5{
    font-size: 1.5rem;
    padding: 10px;
}
p{ 
    font-size: 1.6rem;
    padding: 10px;
}
icon-right{
    padding: 10px;
}
button {
    background-color:#222;
    color:white;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:2em;
    }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* nav */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.logo {
    height: 100px;
    width: 100%;
    background: #c78c06;


}
nav a{
    background-color: #222;
    width: 100%;
    font-size: 2em;
}
ul{
    display: block;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color:#c78c06;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a:hover {
    background: #ffe6ac;
    display: block;
}
.home{
    background-color:#c78c06;
    color: #222;

}
.navbar{
    background-color: #222;
    position: relative;
}
.search{
    flex-wrap:wrap;
    flex-direction: row;
    width:100%-2px;
    padding:10px;
    justify-content:center;
}
#searchbox{
    padding:10px;
    font: size 2.5em;;
    float:left;
    width: 90%;
    height: 25px;
}
.icon-zoom{
    color:#c78c06;
    border: 2px solid #c78c06;
    display:flex;
    padding:10px;
    font-size:1em;
    position: relative;

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Header */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.banner{
    background: #ffe6ac;
    width:100%;
}
.banner_image {
    width:100%;
    object-fit: contain;
}
.title{
    background-color:rgba(34, 34, 34, 0.619);
    position:absolute;
    height: 500px;
    top: 50%;
    width: 100%;
    color:white;
    display:block;
}
/* .banner :nth-child(3){
    position: absolute;
    color: white; 
} */

.connect{
    background-color:#c78c06;
    display:block;
    position: absolute;
    top:70%;
    color:#222;
    border: none;
    padding: 30px 15px;
    text-align: center;
    font-size:1.5em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* About */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about{ 
    background-color: #ffe6ac;
    padding: 10px;
}
.about_image{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Our Services */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#services{
    padding: 10px;
}
.service_button{
    background-color:#222;
    border:none;
    color:white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:2em;
    margin:10px;
    }
.digital{
    background-color: #ffe6ac;
    margin-bottom: 10px;
}
#digital_image{
    position:relative;
    top: 50%;
    width: 100%;
}
.marketing{
    background-color: #ffe6ac;
    margin-bottom: 10px;
}
#marketing_image{
    position:relative;
    top: 50%;
    width: 100%;
}
.video{
    background-color: #ffe6ac;
    margin-bottom: 10px;
}
#video_image{
    position:relative;
    top: 50%;
    width: 100%;
}
.web{
    background-color: #ffe6ac;
    margin-bottom: 10px;
}
#web_image{
    position:relative;
    top: 50%;
    width: 100%;
}
.print{
    background-color: #ffe6ac;
    margin-bottom: 10px;
}
#print_image{
    position:relative;
    top: 50%;
    width: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Vision */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.vision{
    background-image: url(../images/vision.jpg);
    background-position: center center;
    background-size: cover;
    padding:200px;
}
.vision_image {
    
}
.visionbutton{
    background-color:#222;
    border:2px solid #c78c06;
    color:white;
    padding:30px 30px;
    text-align: center;
    display: inline-block;
    font-size: 2.5em;
    margin:20px;
}

/* .vision_text{
    position:relative;
    top:-300px;
    color:white;
    display:inline-block;
} */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Team */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#team{
    background-color: royalblue;
}
.john{
    background-color:#ffe6ac;
}
.bob {
    background-color:#ffe6ac ;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Contact */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#contact{
    background-color: white;
}
.form{

}
#fullname{
    display:flex;
    width:95%;
}
#email{
    display:flex;
    width:95%;
}
#message{
    display:flex;
    width:95%;
}
#submitbutton{
    background-color:#222;
    padding: 5px;
    color:#c78c06;
    display:flex;
    margin: 10px;
    font-size:2em;
}
.table{
    background-color:white;
    position: relative;
    bottom:10px;
    left: 10px;
}
thead{
    border: 1px solid black;
}
table{
    width:95%;
    border: 1px solid black;
}
th{
    background-color:#ffe6ac;
    border: 1px solid black;
    padding:10px;
}
td{
    border: 1px solid black;
    padding:10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Footer */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer{
    background-color: #222;
    color: #c78c06;
    padding: 10px;
}


/* .team{
    background-color: #FFE6AC;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.line{
    padding: 5px;
    margin:5px;
} */